<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.baisc.dao.UserDao">
	<cache type="com.sun.util.cache.RedisCache"/>
	
	<resultMap type="User" id="userMap">
		<result property="id" column="ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="password" column="PASSWORD"/>
		<result property="created" column="CREATED"/>
		<result property="createdBy" column="CREATED_BY"/>
		<result property="updated" column="UPDATED"/>
		<result property="updatedBy" column="UPDATED_BY"/>
	</resultMap>
	
	<select id="getByUserName" parameterType="string" resultMap="userMap">
		SELECT * FROM t_user WHERE USER_NAME = #{userName}
	</select>
	
	<select id="queryRolesByName" parameterType="string" resultType="string">
		SELECT R.ROLE_NAME FROM t_user U, user_role UR, role R
		WHERE U.ID = UR.USER_ID
		AND UR.ROLE_ID = R.ID
		AND U.USER_NAME = #{userName}
	</select>
	
</mapper>